<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="realm" value="http://example"/>
    <add key="proxy.app_id" value=""/>
    <add key="proxy.app_secret" value=""/>
    <add key="source.app_id" value=""/>
    <add key="source.app_secret" value=""/>
    <add key="proxy.cert_file_name" value=""/>
    <add key="proxy.cert_pass_phrase" value=""/>
  </appSettings>
</configuration>

